{% extends 'base.html' %}

{% block head %}
<title>Availabilities</title>
{% endblock %}


{% block body %}

<form class="form" autocomplete="off" action='/availabilities?tournamentName={{ tournamentName }}&availabilitiesNumber={{ availabilitiesList|length }}' method="POST" >
  <div class="control">
    <h1>Infrastructures</h1>
  </div>

  {% if error %}
      <p style="color: red;">{{ error }}</p>
  {% endif %}

  <div class="columns">
    <div class="column scrollable-column" id="availabilityColumn">

    {% for k in availabilitiesList %}
    <div class="control block-cube block-input availabilityInputBox" name="{{ k[0] }}">
        <input type="datetime-local" name="date{{ k[0] }}" value="{{ k[1] }}">
        <input type="text" name="duration{{ k[0] }}" placeholder="durée (min)" value="{{ k[2] }}">
        <input type="text" name="daysInARow{{ k[0] }}" placeholder="nb de jours d'affilée" value="{{ k[3] }}">
        <input type="text" name="fieldName{{ k[0] }}" placeholder="nom du terrain" value="{{ k[4] }}">

        <div class="bg-top"><div class="bg-inner"></div></div>
        <div class="bg-right"><div class="bg-inner"></div></div>
        <div class="bg"><div class="bg-inner"></div></div>
    </div>
    {% endfor %}

    <button class="btn block-cube block-cube-hover refereeMatchButton" type="submit">
      <div class="bg-top"><div class="bg-inner"></div></div>
      <div class="bg-right"><div class="bg-inner"></div></div>
      <div class="bg"><div class="bg-inner"></div></div>
      <span class="text">Save changes</span>
    </button>

    </div>
  </div>
</form>


<script langage="javascript" src="{{ url_for('static', filename='js/availabilities.js') }}"></script>
{% endblock %}
