{% extends 'base.html' %}

{% block head %}
  <title>Create new Tournament</title>
{% endblock %}

{% block body %}
<form class="form createTournament" autocomplete="off" action="/createTournament" method="POST">
  <div class="control">
    <h1> 
      {% if isCreating %} 
        Create 
      {% else %}
        Modify
      {% endif %}
      Tournament
    </h1>
  </div>

  {% if error %}
      <p style="color: red;">{{ error }}</p>
  {% endif %}

  <!-- Container flex pour les deux colonnes -->
  <div class="columns">
    <div class="column">
      <div class="control block-cube block-input">
        <input type="text" name="sport" placeholder="Sport" value="{{ parametersList[0] }}">
        <div class="bg-top"><div class="bg-inner"></div></div>
        <div class="bg-right"><div class="bg-inner"></div></div>
        <div class="bg"><div class="bg-inner"></div></div>
      </div>

      <div class="control block-cube block-input">
        <input type="text" name="matchDuration" placeholder="Match Duration" value="{{ parametersList[1] }}">
        <div class="bg-top"><div class="bg-inner"></div></div>
        <div class="bg-right"><div class="bg-inner"></div></div>
        <div class="bg"><div class="bg-inner"></div></div>
      </div>

      <div class="control block-cube block-input">
        <input type="text" name="teamSize" placeholder="Team Size" value="{{ parametersList[2] }}">
        <div class="bg-top"><div class="bg-inner"></div></div>
        <div class="bg-right"><div class="bg-inner"></div></div>
        <div class="bg"><div class="bg-inner"></div></div>
      </div>

      <div class="control block-cube block-input">
        <input type="text" name="availableSportFields" placeholder="Available Sports Fields" value="{{ parametersList[3] }}">
        <div class="bg-top"><div class="bg-inner"></div></div>
        <div class="bg-right"><div class="bg-inner"></div></div>
        <div class="bg"><div class="bg-inner"></div></div>
      </div>

      <div class="control block-cube block-input">
        <input type="text" name="algorithm" placeholder="Algorithm" value="{{ parametersList[4] }}">
        <div class="bg-top"><div class="bg-inner"></div></div>
        <div class="bg-right"><div class="bg-inner"></div></div>
        <div class="bg"><div class="bg-inner"></div></div>
      </div>
    </div>

    <div class="column">
      <div class="control block-cube block-input">
        <input type="text" name="maxTeamNumber" placeholder="Max Team Number" value="{{ parametersList[5] }}">
        <div class="bg-top"><div class="bg-inner"></div></div>
        <div class="bg-right"><div class="bg-inner"></div></div>
        <div class="bg"><div class="bg-inner"></div></div>
      </div>

      <div class="control block-cube block-input">
        <input type="text" name="teamSelectionMethod" placeholder="Team Selection Method" value="{{ parametersList[6] }}">
        <div class="bg-top"><div class="bg-inner"></div></div>
        <div class="bg-right"><div class="bg-inner"></div></div>
        <div class="bg"><div class="bg-inner"></div></div>
      </div>

      <div class="control block-cube block-input">
        <input type="text" name="points" placeholder="Points" value="{{ parametersList[7] }}">
        <div class="bg-top"><div class="bg-inner"></div></div>
        <div class="bg-right"><div class="bg-inner"></div></div>
        <div class="bg"><div class="bg-inner"></div></div>
      </div>

      {% if isCreating %}
      <div class="control block-cube block-input">
        <input type="text" name="tournamentId" placeholder="Tournament Id" value="{{ parametersList[8] }}">
        <div class="bg-top"><div class="bg-inner"></div></div>
        <div class="bg-right"><div class="bg-inner"></div></div>
        <div class="bg"><div class="bg-inner"></div></div>
      </div>

      <div class="control block-cube block-input">
        <input type="password" name="password" placeholder="Password" value="{{ parametersList[9] }}">
        <div class="bg-top"><div class="bg-inner"></div></div>
        <div class="bg-right"><div class="bg-inner"></div></div>
        <div class="bg"><div class="bg-inner"></div></div>
      </div>
      {% endif %}
      
    </div>
  </div>

  <button class="btn block-cube block-cube-hover" type="submit" value="{{ parametersList[10] }}">
    <div class="bg-top"><div class="bg-inner"></div></div>
    <div class="bg-right"><div class="bg-inner"></div></div>
    <div class="bg"><div class="bg-inner"></div></div>
    <span class="text">Create</span>
  </button>
</form>
{% endblock %}
