{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}


{% block body %}
<form class="form" autocomplete="off" action='/referee' method="POST" >
  <div class="control">
    <h1 name="tournamentName"> {{ tournamentName }}</h1>
  </div>
  
  {% if error %}
      <p style="color: red;">{{ error }}</p>
  {% endif %}

  {% for k in matchesList %}
  <button class="btn block-cube block-cube-hover refereeMatchButton" type="submit">
    <div class="bg-top"><div class="bg-inner"></div></div>
    <div class="bg-right"><div class="bg-inner"></div></div>
    <div class="bg"><div class="bg-inner"></div></div>
    <span class="text"> Match n°{{k[0]}}</span>
    <span class="text"> le {{k[1]}}</span>
    <span class="text">  sur le terrain {{k[2]}}</span>
    <span class="text"> opposant {{k[3]}}</span>
    <span class="text"> et {{k[4]}}</span>
  </button>
  {% endfor %}

</form>
{% endblock %}