{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}


{% block body %}
  <form class="form referee" autocomplete="off" action='/referee?tournamentName={{ parametersList[0] }}&refereePassword={{ parametersList[1] }}&matchId={{ parametersList[2] }}' method="POST" >
  <div class="control">
    <h1> {{ parametersList[0] }}</h1>
  </div>
  
  {% if error %}
      <p style="color: red;">{{ error }}</p>
  {% endif %}
  {% if validation %}
      <p style="color: green;">{{ validation }}</p>
  {% endif %}

  <div class="refereeMatchButton">
    <span class="text">Match n°{{matchInfos[0]}} le {{matchInfos[1]}} sur le terrain {{matchInfos[2]}} opposant {{matchInfos[3]}} et {{matchInfos[4]}}</span>
  </div>

  {% if matchInfos[5]==None %}

    <button class="btn block-cube block-cube-hover refereeMatchButton" type="submit" name="playerIdButton" value="startMatch">
        <div class="bg-top"><div class="bg-inner"></div></div>
        <div class="bg-right"><div class="bg-inner"></div></div>
        <div class="bg"><div class="bg-inner"></div></div>
        <span class="text"> Démarrer le match </span>
      </button>

  {% else %}

  <button class="btn block-cube block-cube-hover refereeMatchButton" type="submit" name="playerIdButton" value="endMatch">
        <div class="bg-top"><div class="bg-inner"></div></div>
        <div class="bg-right"><div class="bg-inner"></div></div>
        <div class="bg"><div class="bg-inner"></div></div>
        <span class="text"> Match fini </span>
  </button>

  <div class="control block-cube block-input">
    <input type="text" name="pointsScored" placeholder="Nombre de points marqués" value="{{ parametersList[4] }}">
    <div class="bg-top"><div class="bg-inner"></div></div>
    <div class="bg-right"><div class="bg-inner"></div></div>
    <div class="bg"><div class="bg-inner"></div></div>
  </div>

  <div class="refereeMatchButton">
    <span class="text">Marqués par :</span>
  </div>
  
  <div class="columns">
  {% for team in teams %}

  <div class="column">

    <div class="refereeMatchButton">
      <h3 class="text"> {{ team[0][4] }} </h3>
    </div>

    {% for player in team %}
      <button class="btn block-cube block-cube-hover refereeMatchButton" type="submit" name="playerIdButton" value="{{ player[0] }}">
        <div class="bg-top"><div class="bg-inner"></div></div>
        <div class="bg-right"><div class="bg-inner"></div></div>
        <div class="bg"><div class="bg-inner"></div></div>
        <span class="text"> {{ player[1] }} {{ player[2]}} </span>
        {% if player[3] %} <span class="text playerShirtText"> maillot n° {{ player[3] }} </span> {% endif %}
      </button>
    {% endfor %}
  </div>

  {% endfor %}
  </div>

  {% endif %}

</form>
{% endblock %}